.todo-list {
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
}

.todo-list-container {
  margin-bottom: 40px;
}

.todo-list-wrapper {
  width: 75%;
  max-width: 700px;
  color: #9966ff;
}

.todo-list-wrapper p {
  margin: 40px 0 0 0;
}

.todo-list-wrapper ul {
  margin-top: 5px;
  padding-left: 0;
}

.todo-box.completed {
  fill: #88ff72;
  border-color: #88ff72;
}

.todo {
  font-size: 12px;
  list-style-type: none;
  padding: 8px 0 8px 0;
  color: #3f3f3f;
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo-left-wrapper {
  display: flex;
  align-items: center;
}

.todo-right-wrapper {
  display: flex;
  align-items: center;
  width: 82px;
}

.todo.completed {
  text-decoration: line-through;
  color: #a0a0a0;
  text-align: left;
}

.todo-box {
  height: 14px;
  display: flex;
  margin-right: 5px;
  width: 14px;
  border-radius: 3px;
  border: 1px solid #3f3f3f;
}

.todo-wrapper {
  height: 40px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d0d0d0;
  justify-content: space-between;
}

.todo-wrapper svg {
  fill: #d0d0d0;
  cursor: pointer;
}

.todo-wrapper svg.date-set {
  fill: #9966ff;
}

.show-completed {
  font-size: 10px;
  color: #a0a0a0;
  text-decoration: underline;
  cursor: pointer;
}

.todo-list-completed-wrapper {
  text-align: center;
}

.todo-list-header {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

p.todo-list-sort, li.todo-list-sort {
  display: flex;
  align-items: center;
  font-size: 10px;
  cursor: pointer;
}

li.todo-list-sort {
  list-style: none;
  padding: 2.5px 5px 2.5px 5px;
}

li.todo-list-sort:hover {
  background: #eeeeee;
}

.todo-list-sort-dropdown {
  position: absolute;
  z-index: 3;
  background: white;
  border: 1px solid #9966ff;
  border-radius: 3px;
  padding-left: 0;
  margin-left: 40px;
}

@media screen and (max-width: 750px) {
  .todo {
    width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .todo {
    width: 100px;
  }
}